@font-face {
    font-family: 'Roboto Bk';
    src: url('font/Roboto-Black.eot');
    src: url('font/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('font/Roboto-Black.woff2') format('woff2'),
        url('font/Roboto-Black.woff') format('woff'),
        url('font/Roboto-Black.ttf') format('truetype'),
        url('font/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}


body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 1280px;
    height: 1626px;
    font-family: 'Roboto Bk', serif;
}

header {
    width: 100%;
    height: 81px;
    margin: 15px 0;
}
ul {
    list-style: none;
    position: relative;
    left: 50%;
    float: left;
    height: 40px;
    
}
li {
    position: relative;
    left: -51%;
    float: left;
    margin: 0 10px;
    height: 40px;
}
a {
    font-family: 'Roboto Bk';
    text-decoration: none;
    display: block;
    padding: 0 40px;
    color: rgb(22, 160, 133);
    font-size: 18px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 2.8px;
    
}
a:hover {
    background-color: #06ad8c;
    color: white;
    border-radius: 3px;
}
.photo {
    width: 100%;
    height: 790px;
    background: url(img/photo.jpg) no-repeat;
    background-size: 100% 790px;
}
.content {
    background-color: #f5f6f7;
    height: 750px;
    margin: 0;
}
h1,
p {
    text-align: center;
    padding: 0 110px 0 108px;
    margin: 0;
}
h1{
    padding-top: 59px;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}
p {
    font-size: 16px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 2.5px;
    margin-top: 20px;
    
}
.buttom {
    width: 192px;
    height: 51px;
    margin-top: 41px;
    padding: 10px 20px;
    border: 1px solid #16a085;
    border-radius: 3px;
    background-color: rgb(22, 160, 133);
    color: white;
    margin-left: 527px;
   
}
input[value] { 
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.8px;
    line-height: 20px;
}
.buttom:hover {
    background-color: #06ad8c;
}
footer {
    height: 108px;
}
.copyright {
    font-size: 16px;
    font-weight: 900;
    float: right;
    padding-top: 44px;
    padding-right: 104px;
    letter-spacing: 2.8px;

}